@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.root {
    -fx-font-family: 'Roboto', sans-serif;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #030912;
    -fx-border-color: #3480ff;
    -fx-border-radius: 10;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #3480ff;
    -fx-border-color: #3480ff;
    -fx-text-fill: white;
}

.choice-box {
    -fx-background-color: #030912;
    -fx-mark-color: #40fdff; // arrow color;
    -fx-border-color: #3480ff;
    -fx-border-width: 1;
    -fx-border-radius: 10 10 10 10;
}

.choice-box .context-menu {
    -fx-background-color: #010104;
}

.choice-box .menu-item:focused {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #40fdff, #3480ff);
}
.choice-box .menu-item > .label { -fx-text-fill: white; }

.choice-box .menu-item:focused > .label { -fx-text-fill: black; }

.text-area {
    -fx-text-fill: white;
    -fx-box-border: none;
}

.text-area .text {
    -fx-text-alignment: center;
}

.text-area .content {
    -fx-background-color: #010104;
}

